/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
	content: none;
}
table {
  border-collapse: collapse;
	border-spacing: 0;
}

/* App */

body {
  background-color: #333;
  color: #fefefe;
  margin: 0;
  overflow: hidden;
}

svg {
  overflow: initial;
}

.app {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
}

.header-container {
  min-height: 10vh;
  border-bottom: 1px solid;
  
  font-size: 2em;
  font-weight: 900;
  
  display: flex;
  flex-direction: column;
  .center-h-v;
}

.reticle-stage {
  position: relative;
}

.reticles-container {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  
  .center-h-v;

  .reticles-directions {
    
    .no-select;

    position: absolute;
    z-index: 0;
    transform: scale(1.1);
    transition: all 200ms ease-out;
    
    &.is-edit-ready {
      transform: scale(1);
    }
    
    &.is-hidden {
      opacity: 0;
      transform: scale(.9);
      transition: all 600ms ease-out;
      display: block;
    }
  }
  
  .reticles-drag-target {
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
  }

  .reticle {
    position: absolute;
  }
}

.precision-select-container {
  
  .content-v;
  
  max-height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  background-color: #444;
  border: 1px solid #000;
  text-align: left;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: all 200ms ease-out;
  
  &.is-focused {
    pointer-events: all;
    opacity: 1;
  }

  .precision-select-header {
    padding: 15px 15px 25px;
    font-size: 80%;
    font-style: italic;

    .no-select;
  }

  .precision-select-list {
    overflow-y: scroll;
    margin-bottom: 15px;
    height: auto;

    .precision-select-list-item {
      padding: 5px 15px 5px;
      cursor: pointer;

      .hover-anim(#333);

      &.is-selected {
        color: #99cc33;
        border-right: 1px solid #99cc33;
      }
    }
  }
}

.reticle-editor-container {

  .no-select;

  background-color: #444;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 460px;
  height: 600px;
  text-align: left;
  display: flex;
  border: 1px solid #000;
  opacity: 0;
  transform: translateY(-300px);
  transition: all 200ms ease-out;
  pointer-events: none;

  &.is-visible {
    pointer-events: inherit;
    opacity: 1;
  }

  .progressive-disclosure-bar {
    position: absolute;
    top: -44px;
    width: 100%;
    color: #333;
    
    .content-h;
    justify-content: flex-end;
    
    .progressive-disclosure-bar-goals {
      width: inherit;
      font-weight: bold;
      padding: 10px 12px;
      border: 1px solid #000;
      background-color: #99cc33;
      opacity: 1;
      pointer-events: none;
      overflow: hidden;
      transition: all 300ms ease-in-out;

      &.is-hidden {
        opacity: 0;
        display: block;
      }

      &.is-add-goal-update-animation {
        transform: scale(1.3);
      }

      .progressive-disclosure-bar-goals-list {
        width: 2100px;
        transition: all 1500ms ease-in-out 1800ms;

        .progressive-disclosure-bar-goal {
          min-width: 417px;
          display: inline-block;
        }
      }
    }

    .progressive-disclosure-bar-divider {
      width: 8px;
      background-color: #333;
    }
    
    .progressive-disclosure-bar-visibility {
      color: #99cc33;
      background-color: #555;
      padding: 10px 12px;
      text-align: center;
      width: 12px;
      cursor: pointer;
      border: 1px solid #000;
    }
  }

  &.is-edit-ready {
    z-index: 1;
  }
  
  .reticle-editor-layers-container {
    width: 30%;
    border-right: 1px solid #333;
    position: relative;
    overflow: hidden;
  }
  
  .reticle-editor-heading {
    padding: 15px 15px 25px;
    font-size: 80%;
    font-style: italic;

    .no-select;
  }

  .reticle-editor-layers {
    
    .content-v;

    .reticle-editor-layers-items {
      flex-grow: 1;
      overflow-y: scroll;
      max-height: 466px;
      border-bottom: 1px solid #333;
    }
    
    .reticle-editor-layers-button {
      color: #fefefe;
      height: 40px;
      min-height: 40px;
      font-size: 80%;

      &:disabled {
        opacity: .2;
      }
    }

    .reticle-editor-layers-button-group {
      display: flex;
      flex-direction: row;

      .reticle-editor-layers-button-scale-button {
        min-width: 0;
        flex-grow: 1;
        padding: inherit;

        span {
          width: 32px;
        }
      }
    }
  }

  .reticle-editor-edit-container {
    width: 70%;
    background-color: #555;
    overflow: hidden;

    .reticle-editor-layer-controls {

      position: relative;
      transition: transform .4s ease-in-out;
      height: 0px;

      .content-v;
      .no-select;

      &.is-grid-control-open {
        transform: translateX(-100%);
      }

      .reticle-editor-control-row {
        .hover-anim(#444);
        
        .content-h;
        align-items: center;
        overflow: hidden;
        
        position: relative;
        height: 38px;
        padding: 10px 15px 10px;
        cursor: pointer;
        
        &:first-child { 
          border-top: 1px solid #333;
        }

        &.is-disabled {
          pointer-events: none;

          .is-disabled-blocker {
            z-index: 2;
            cursor: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }

        &.has-divider {
          margin-bottom: 25px;
        }

        .reticle-editor-control-label {
          width: 50%;
        }
        
        .reticle-editor-control-widget {
          width: 50%;
          position: relative;

          .widget-color {
            
            .content-h;
            .center-h-v;

            .widget-helper-grid-color-row {

              .content-h;

              .color-item {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                height: 22px;
                border-bottom: 1px solid transparent;
                cursor: pointer;

                .color-swatch {
                  width: 50%;
                  height: 50%;
                  border-radius: 50%;
                  border: 2px solid #000;
                }
                
                &.is-initially-selected {
                  border-bottom: 1px solid #99cc33;
                  
                  .color-swatch {
                    box-shadow: rgb(51, 51, 51) 0px 0px 12px;
                  }
                }

                &.is-selected {
                  border-bottom: 1px solid rgba(153, 204, 51, .5);

                  &.is-initially-selected {
                    border-bottom: 1px solid #99cc33;
                  }
                }
                
                &:hover {
                  border-bottom: 1px solid rgba(153, 204, 51, .5);
                }
              }
            }
          }

          // TODO widget-list & widget-list-select are likely temp in favor or proper Theme or override approach
          .widget-list {
            width: 100%;

            .widget-list-select {
              color: #99cc33;
            }
          }

          .widget-toggle-slider {
            
            .content-h;
            .center-h-v;
            justify-content: flex-start;
            
            .slider-stroke-and-fill-container {
              position: relative;
              width: 100%;
              padding-left: 5px;
            }

            .toggle-stroke-and-fill {
                
              .content-h;
              .center-h-v;
              flex-grow: 0;
              margin-left: -24px;
              
              .toggle-stroke-and-fill-switch {
                margin-top: -1px;
              }
            }

          }

          .widget-scale {
            .scale-widget-divider;
          }
        }

        .open-grid-button {
          color: #99cc33;
          width: 100%;
          border-bottom: 1px solid #99cc33;
          
          &.color-grid-button {
            width: 32px;
            height: 32px;
            margin-left: 4px;
            
            display: flex;
            .center-h-v;

            .color-wheel {
              width: 32px;
              height: 32px;
            }
          }
        }

        &.is-selected {
          background-color: #444;
          color: #99cc33;
        }
      }
    }

    .reticle-editor-widget-helper {
      position: absolute;
      width: 100%;
      height: 100%;
      color: #fff;

      transform: translateX(100%);

      .content-v;
      .no-select;

      .widget-helper {
        padding: 0 15px;

        .widget-helper-header {
          flex-grow: 0;
          justify-content: space-between;
          align-items: center;
          
          .widget-helper-close-button {
            min-width: 50px;
            min-height: 32px;
            color: #fff;
          }
        }

        .widget-helper-body {
          flex-grow: 1;
          margin: 15px 0;
          overflow-y: auto;
          height: 0px;

          .widget-helper-grid {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            .widget-helper-grid-item,
            .widget-helper-grid-scale-cell {
              width: 25%;
              height: 60px;
              margin-bottom: 10px;
              border-bottom: 1px solid transparent;
              overflow: hidden;
              cursor: pointer;

              .content-v;
              .center-h-v;

              .widget-helper-grid-item-number-label {
                font-size: 50%;
                bottom: 8px;
                position: relative;
                color: #999;
              }

              &.is-initially-selected {
                border-bottom: 1px solid #99cc33;
              }

              &.is-selected {
                border-bottom: 1px solid rgba(153, 204, 51, .5);

                &.is-initially-selected {
                  border-bottom: 1px solid #99cc33;
                }
              }
              
              &:hover {
                border-bottom: 1px solid rgba(153, 204, 51, .5);
              }
            }

            .widget-helper-grid-scale-cell {
              font-size: 50%;
              margin: 0;
              background-color: #333;
              cursor: pointer;

              .widget-helper-grid-scale-cell-label {
                transform: scaleX(.1);
              }

              &.is-uniform-scale-helper {
                border-bottom: 1px solid #fff;
              }

            }

            .widget-helper-grid-scale-feedback {
              .scale-widget-divider;

              font-size: 100%;
              padding: 8px 0;
              color: #333;
              background-color: #99cc33;
              border: 1px solid #000;
              text-align: center;
              position: absolute;
              width: 76px;
              pointer-events: none;
            }
          } 
        }
      }
    }
  }
}

.widget-helper-graphic {
  transform: scale(.5);
}

.color-wheel {
  width: 60px;
  height: 60px;
  transform: rotate(-36deg);
}

.graphics-library {
  display: none;
}

/* Layout */

.container {
  display: flex;
}

.wrapper {
  display: flex;
  flex-grow: 1;
}

.content-h {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.content-v {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.center-h-v {
  align-items: center;
  justify-content: center;
}

/* Scrollbars */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #555; 
}
 
::-webkit-scrollbar-thumb {
    background: #fefefe; 
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc; 
}

/* Utils */

.no-select {
  user-select: none;
}

.is-hidden {
  display: none;
}

.is-disabled {
  opacity: .2;
}

.divider {
  position: absolute;
  border-bottom: 1px solid #333;
  width: 100%;
}

.reticle-editor-layer-list-item-draggable-container {
  .hover-anim(#333);

  &.dragging-layer {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;

    z-index: 1;
  }
  
  .content-h;
  
  .reticle-editor-layer-list-item-draggable {
    padding: 5px 10px 5px;
    cursor: row-resize;
    color: #99cc33;
    transform: scaleX(.8) rotate(90deg) ;
  }
  
  .reticle-editor-layer-list-item {
    padding: 5px 5px 5px;
    cursor: pointer;
    flex-grow: 1;
    
    .content-h;
    .center-h-v;
    justify-content: space-between;

    .no-select;

    &.is-selected {
      color: #99cc33;
      border-right: 1px solid #99cc33;
    }
    
    .reticle-editor-layer-list-item-button {
      padding-right: 5px;
      font-size: 60%;
    }
  }
}

.control-info {
  position: absolute;
  font-size: 80%;
  color: #99cc33;
  
  &.control-info-slider-current {
    top: 11px;
    width: 100%;
    text-align: right;
    text-shadow: 1px 2px #333;
  }
}

.scale-widget-divider {
  font-size: 70%;
  padding: 0 4px;
  text-align: center;
}

.hover-anim(@color) {
  transition: background-color 200ms ease-out;

  &:hover {
    background-color: @color;
  }
}