/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* App */

body {
  background-color: #333;
  color: #fefefe;
}

.app {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
}

.header-container {
  min-height: calc(10vh - 1px);
  border-bottom: 1px solid;
  
  font-size: 2em;
  font-weight: 900;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reticle-stage {
  position: relative;
}

.reticles-container {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .reticles-directions {
    position: absolute;
    z-index: 0;

    .no-select;
  }
  
  .reticles-drag-target {
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
  }

  .reticle {
    position: absolute;
  }
}

.reticle-editor-container {
  background-color: #444;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 400px;
  text-align: left;
  display: flex;
  overflow: hidden;

  .reticle-editor-wrapper {
    display: flex;
  }

  &.is-edit-ready {
    z-index: 1;
  }
  
  .reticle-editor-layers-container {
    width: 40%;
    border-right: 1px solid #333;
    position: relative;
  }
  
  .reticle-editor-edit-container {
    width: 60%;
    background-color: #555;
      
    .reticle-editor-layer-controls {
      
      .content-v;

      overflow-y: scroll;
      
      .reticle-editor-edit-control {
        padding: 5px 15px 5px;
        border-top: 1px solid #333;
      }
    }
  }
  
  .reticle-editor-heading {
    padding: 15px 15px 25px;

    .no-select
  }

  .reticle-editor-layers {
    
    .content-v;

    .reticle-editor-layers-items {
      flex-grow: 1;
      overflow-y: scroll;
    }
    
    .reticle-editor-layers-clone-button {
      color: #fefefe;
      height: 60px;
      min-height: 60px;
    }
  }

  .reticle-editor-layer-list-item {
    padding: 5px 15px 5px;
    cursor: pointer;

    &.is-layer-selected {
      background-color: #555;
      border-right: 2px solid #fefefe;
    }
    
    .no-select;
  }
}

/* Layout */

.container {
  display: flex;
}

.wrapper {
  display: flex;
  flex-grow: 1;
}

.content-h {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.content-v {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/* Scrollbars */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #555; 
}
 
::-webkit-scrollbar-thumb {
    background: #fefefe; 
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc; 
}

/* Utils */

.no-select {
  user-select: none;
}